{% extends "basic/layout.html" %}
{% block header %}
  <div class="wrap">
    <div class="logo">{{ theme_index_logo_alt }}</div>
    {{ super() }}
{% endblock %}
{% block footer %}
    {{ super() }}
  </div>
  {% if theme_google_analytics %}
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ theme_google_analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var isHTTPS = 'https:' == document.location.protocol;
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = (isHTTPS ? 'https://ssl' : 'http://www')
             + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}
{% endblock %}
{# do not display relbars #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}
  {% if theme_github_fork %}
  <a href="http://github.com/{{ theme_github_fork }}"><img
    style="position: absolute; top: 0; right: 0; border: 0;"
    src="https://a248.e.akamai.net/assets.github.com/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67"
    alt="Fork me on GitHub" /></a>
  {% endif %}
{% endblock %}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
{% block sidebarsourcelink %}{% endblock %}
{% block sidebarsearch %}{% endblock %}
